<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
      <head>
        <meta charset="UTF-8">
        <title>Wishlist — Список желаний</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
      </head>
      <body>
      <div class="container">
        <h1 class="text-center my-5">Добавить подарок</h1>
        <div class="mx-auto col-sm-6">
          <form th:action="@{/add}" onsubmit="sendForm(this); return false;" th:object="${gift}" method="post">
            <div class="mb-3">
              <label for="">Название</label>
              <input th:field="*{name}" type="text" class="form-control" placeholder="Название">
            </div>
            <div class="mb-3">
              <label for="">Описание</label>
              <textarea th:field="*{description}" name="" id="" class="form-control" placeholder="Описание"></textarea>
            </div>
            <div class="mb-3">
              <input type="submit" class="form-control btn btn-primary" value="Добавить подарок">
            </div>
          </form>
        </div>
        <div class="col-sm-6 mx-auto mb-3">
          <div class="row" th:each="gift: ${gifts}" id="giftsBlock">
            <div class="col-sm-9">
              <h5 th:text="${gift.name}"></h5>
              <p th:text="${gift.description}"></p>
            </div>
            <div class="col-sm-3">
              <a class="mb-2 btn btn-primary btn-sm w-100" th:href="@{/edit/{id}(id=${gift.id})}">Редактировать</a>
              <a class="btn btn-danger btn-sm w-100 mb-2" th:href="@{/delete/{id}(id=${gift.id})}">Удалить</a>
            </div>
            <hr>
          </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
      const giftsBlock = document.getElementById('giftsBlock');
      function sendForm(form){
          const formData = new FormData(form);
          fetch("/add", {
              method: "POST",
              body: formData
          }).then(response=>response.json())
              .then(result=>{
                  if(result.result === "success"){
                      const colsm9 = document.createElement('div');
                      const colsm3 = document.createElement('div');
                      const hr = document.createElement('hr');
                      colsm9.innerHTML = `<h5>${formData.get("name")}</h5><p>${formData.get("description")}</p>`;
                      colsm3.innerHTML = `<a class="mb-2 btn btn-primary btn-sm w-100" href="#">Редактировать</a><a class="btn btn-danger btn-sm w-100 mb-2" href="#">Удалить</a>`
                      colsm9.classList.add("col-sm-9");
                      colsm3.classList.add("col-sm-3");
                      giftsBlock.append(colsm9, colsm3, hr);
                  }
              })
      }
    </script>
</body>
</html>